* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(169deg, #9f7fff 0%, #8055fe 96.38%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
